@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;800&display=swap");
:root {
  --pri-clr-dark-magenta: hsl(300, 43%, 22%);
  --pri-clr-soft-pink: hsl(333, 80%, 67%);

  --net-clr-grayish-magenta: hsl(303, 10%, 53%);
  --net-clr-light-grayish-magenta: hsl(300, 24%, 96%);
  --net-clr-white: hsl(0, 0%, 100%);

  --League-spartan: "League Sparten", sans-serif;

  --fw-light: 400;
  --fw-semibold: 500;
  --fw-bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--League-spartan);
  list-style: none;
  font-size: 15px;
}
body {
  background: url("images/bg-pattern-bottom-desktop.svg"),
    url("images/bg-pattern-top-desktop.svg");
  background-position: right bottom, left top;
  background-repeat: no-repeat;
}
html,
body {
  height: 100%;
}
.content-house {
  height: 100%;
  position: relative;
}
.container {
  max-width: 150vh;
  padding: 0px 10vh;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.about {
  width: 365px;
}
.about h1 {
  font-size: 45px;
  font-weight: var(--fw-bold);
  color: var(--pri-clr-dark-magenta);
  line-height: 2.5rem;
}
.about p {
  color: var(--net-clr-grayish-magenta);
  margin-top: 30px;
  line-height: 1.5rem;
}
.rating .star {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: var(--net-clr-light-grayish-magenta);
  color: hsl(300, 43%, 22%);
  width: 50vh;
  justify-content: center;
  height: 5.5vh;
  font-weight: var(--fw-bold);
  margin-top: 3vh;
}

.rate {
  margin-right: 2vh;
}
.feedback {
  display: flex;
  margin-top: 15vh;
}
.feedback .box {
  width: 400px;
  height: 280px;
  background: hsl(300, 43%, 22%);
  border-radius: 10px;
  margin-right: 25px;
  padding: 60px 30px;
  color: var(--net-clr-white);
}
.feedback .box .profile {
  display: flex;
  padding-bottom: 30px;
}
.feedback .box .profile img {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin-right: 20px;
}
.feedback .box .profile ul > li:first-child {
  font-weight: var(--fw-bold);
  letter-spacing: 0.05rem;
}
.feedback .box .profile ul > li:last-child {
  color: var(--pri-clr-soft-pink);
}
.feedback .box p {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}
@media (min-width: 890px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .star-0 {
    margin-left: -16vh;
    animation: star-left 800ms ease;
  }
  .star-1 {
    margin-left: -8vh;
    animation: star-left 600ms ease;
  }
  .star-2 {
    animation: star-left 400ms ease;
  }
  @keyframes star-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .box-0 {
    animation: feedback-top 400ms ease;
  }
  .box-1 {
    margin-top: 3vh;
    animation: feedback-top 600ms ease;
  }
  .box-2 {
    margin-top: 6vh;
    animation: feedback-top 800ms ease;
  }
  @keyframes feedback-top {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
@media (max-width: 875px) {
  body {
    background: url("images/bg-pattern-bottom-mobile.svg"),
      url("images/bg-pattern-top-mobile.svg");
    background-position: right bottom, left top;
    background-repeat: no-repeat;
  }
  .content-house {
  }
  .container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-contaienr {
    flex-direction: column;
  }
  .feedback {
    flex-direction: column;
  }
  .top-container {
    flex-direction: column;
    align-items: stretch;
  }
  .feedback .box {
    max-width: 45vh;
    margin-bottom: 2vh;
    margin-right: 0;
  }
  .rating .star {
    height: 10vh;
    flex-direction: column;
    max-width: 45vh;
  }
  .about {
    text-align: center;
    width: 45vh;
    margin-top: 10vh;
  }
  .rating {
    margin: auto;
  }
}
